<?xml version="1.0" encoding="UTF-8"?>
<Configuration xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
               xmlns="https://logging.apache.org/xml/ns"
               xsi:schemaLocation="
                       https://logging.apache.org/xml/ns
                       https://logging.apache.org/xml/ns/log4j-config-3.xsd"
               strict="true">
	<appenders>
		<Console name="Console">
			<PatternLayout pattern="%d{HH:mm:ss.SSS} %-5level %msg%n"/>
			<filters>
				<IsDecompileTaskFilter onMatch="DENY"/>
			</filters>
		</Console>
	</appenders>
	<loggers>
		<root level="info">
			<AppenderRef ref="Console"/>
		</root>
	</loggers>
</Configuration>